body {font-family: 'Tahoma', sans-serif;}

input[type=email], input[type=password], input[type=text],input[type=tel]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #62ceff;
  box-sizing: border-box;
}

button {
  background-color: #62ceff;
  color: #000000;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

a {
    color: #000000;
}